{% extends './base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}

<div class="max-w-3xl mx-auto bg-white rounded-lg shadow-lg p-8 space-y-6">
    <h2 class="text-3xl font-bold text-center text-primary mb-6">
        Book Collection
    </h2>

    <div class="flex justify-center mb-6">
        <input type="text" placeholder="Search books..."
            class="input input-bordered w-3/4 max-w-md text-center shadow-md" />
    </div>

    <ul class="grid grid-cols-1 gap-6">
        {% for book in books %}
        <li id="book-{{book.id}}" class="bg-gray-50 rounded-lg shadow-md p-5 flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <div class="avatar">
                    <div class="w-16 h-16 rounded-lg overflow-hidden">
                        <img src="{{ book.image }}" class="object-cover" alt="Book cover" />
                    </div>
                </div>
                <div>
                    <h3 id="book-title-{{book.id}}" class="text-lg font-semibold">
                        {{ book.title }}
                    </h3>
                    <p class="text-gray-500">Author: {{ book.author.name }}</p>
                </div>
            </div>
            <div class="flex space-x-4">
                <a href="#" class="text-blue-500 hover:text-blue-700" hx-get="#" hx-target="#modal-content"
                    hx-trigger="click" hx-swap="innerHTML">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="#" class="text-red-500 hover:text-red-700" hx-get="#" hx-target="#modal-content"
                    hx-trigger="click" hx-swap="innerHTML">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </li>
        {% empty %}
        <li class="p-4 text-center text-gray-500">No books found.</li>
        {% endfor %}
    </ul>

    <div class="flex justify-center mt-6">
        <span id="loadingIcon" class="loading loading-bars loading-lg text-info"></span>
    </div>
</div>

<script>
    let offset = 0;

    function getGraphqlFetchBooksQuery() {
        const graphqlFetchBooksQuery = {
        query: `
            query GetAllBooks($limit: Int, $offset: Int) {
            allBooks(limit: $limit, offset: $offset) {
                id
                title
                image
                author {
                name
                }
                characters {
                name
                }
                geners {
                name
                }
            }
            }
        `,
        variables: {
            limit: 10,
            offset: offset,
        },
    };

        return graphqlFetchBooksQuery;

    }


    fetchBooks();

    const bookList = document.querySelector("ul");

    window.addEventListener("scroll", () => {
        if (
            window.innerHeight + window.scrollY  >=
            document.body.offsetHeight
        ) {
            document.getElementById("loadingIcon").style.display = "block";
            fetchBooks();
        }
    });

    function fetchBooks() {
        fetch("/graphql/", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": "{{ csrf_token }}",
            },
            body: JSON.stringify(getGraphqlFetchBooksQuery()),
        })
            .then((response) => response.json())
            .then((data) => {
                if (data.errors) {
                    console.error("Errors:", data.errors);
                }
                else {
                    const books = data.data.allBooks;
                    if (books.length > 0) {
                        books.forEach((book) => {
                            const existingBook = document.getElementById(`book-${book.id}`);
                            if (!existingBook) {
                                bookList.innerHTML += `
                            <li id="book-${book.id}" class="flex justify-between items-center p-4 border-b border-gray-200">
                                <div>
                                    <div class="avatar">
                                    <div class="w-20 rounded">
                                        <img src="${book.image}" />
                                    </div>
                                    </div>
                                    <h3 id="book-title-${book.id}" class="font-semibold">${book.title}</h3>
                                    <p class="text-gray-600">Author: ${book.author.name}</p>
                                </div>
                                <div class="flex space-x-2">
                                    <a href="#"


                                    class="text-blue-500 hover:text-blue-700">
                                    <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="#"
                                    class="text-red-500 hover:text-red-700">
                                    <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </li>

                            `;
                        }


                        });
                        offset += books.length;
                    }
                }
            })
            .catch((error) => console.error("Error fetching data:", error));
    }
</script>

{% endblock %}