{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Management{% endblock %}</title>
    <link href="{% static 'css/daisyui.full.min.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'js/tailwindcss.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="bg-base-100">
    <div class="navbar bg-base-200 shadow-lg">
        <div class="flex-1">
            <a href="{% url 'fetch_books' %}" class="btn btn-ghost normal-case text-xl">📚 Book Manager</a>
        </div>
        <div class="flex-none">
            <a href="{% url 'create_book' %}" class="btn btn-primary">➕ Add New Book</a>
        </div>
    </div>

    <div class="container mx-auto mt-10">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>