<div class="max-w-md mx-auto rounded-lg p-6">
  <h2 class="text-2xl font-semibold text-center text-primary mb-4 book-text">
    Delete Book
  </h2>
  <p class="text-lg mb-4 book-text">
    Are you sure you want to delete the book "<strong>{{ book.title }}</strong
    >"?
  </p>

  <form id="deleteBookForm">
    <button id="del-btn" type="submit" class="btn btn-error w-full">
      Delete Book
    </button>
  </form>

  <button
    type="button"
    id="closeModalBtn"
    class="close-modal btn btn-info text-white w-full mt-4"
  >
    Close
  </button>

  <div id="alertContainer" class="mt-4"></div>
</div>

<script>
  document
    .getElementById("deleteBookForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      fetch("{% url 'delete_book' book.id %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": "{{ csrf_token }}",
        },
      })
        .then((response) => response.json())
        .then((data) => {
          const alertContainer = document.getElementById("alertContainer");
          alertContainer.innerHTML = "";

          if (data.errors) {
            const errorAlert = `<div class="alert alert-error">
                              <div>
                                <span>Error: ${data.errors.join(", ")}</span>
                              </div>
                            </div>`;
            alertContainer.innerHTML = errorAlert;
          } else {
            const successAlert = `<div class="alert alert-success">
                                <div>
                                  <span>${data.message}</span>
                                </div>
                              </div>`;
            alertContainer.innerHTML = successAlert;
            document.getElementById("del-btn").remove();
            document.querySelectorAll('.book-text').forEach(e => e.remove());

            document.getElementById("book-{{book.id}}").remove()
          }
        })
        .catch((error) => {
          console.error("Error:", error);
          const alertContainer = document.getElementById("alertContainer");
          alertContainer.innerHTML = `<div class="alert alert-error">
                                   <div>
                                     <span>An error occurred while deleting the book.</span>
                                   </div>
                                 </div>`;
        });
    });
</script>
